html {
  font-family: Georgia, serif;
  color: #fff;
}

.banner-text {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #495562;
}

.btn-ghost {
  color: #fff;
  border: 3px solid #97a49b;
}

.btn-ghost:hover {
  color: #000;
  border-color: #efefef;
  background-color: #efefef;
}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

  .banner-text {
    bottom: 0;
    background-color: transparent;
  }

  .btn-ghost {
    border-color: #fff;
    float: right;
  }

  .banner-image {
    background-image: linear-gradient(to top, rgba(73, 85, 98, .9), rgba(73, 85, 98, 0));
  }

  .banner {
    max-height: 500px;
    overflow: hidden;
  }
}
